<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="0.5"> -->
    <link rel="stylesheet" href="/home.css">
    <title>Navbar, Cards, and Footer</title>
</head>
<body>

   <%- include("navbar") %>

   <button><a href="/blogs">Get Blogs</a></button>
    <section>
       <% blogs.forEach((blog)=>{ %>
        <div class="card">
            <img src="<%- blog.image %>" alt="" srcset="" width="150" height="150">
            <h2><%- blog.title  %></h2>
            <h4><%- blog.subTitle  %></h4>
            <p><%- blog.description %></p>
            <p>Author : <%- blog.user.username %></p>
            <a href="/blog/<%-blog.id %>">See More</a>
        </div>
      <% }) %>
        

    </section>

  <%- include("footer")  %>

</body>
</html>
